page-login {
    #titleText{
        color: #a38f73;
        margin-top: 3em;
        
     }

    #loginBtn{
        height: 3em;
    }

    #linkBtn{
        height: 2em;
    }

    ion-content{
        background-color:#f6f5f3
    }

}
