<ion-header>

  <ion-navbar color="primary">
    <ion-title style>
        <ion-grid>
            <ion-row>
              <ion-col col-2></ion-col>
              <ion-col col-3>
                  <img src="assets/imgs/mlogo.png" style="background: transparent !important;" width="50" height="50"/>
              </ion-col>
              <ion-col col-3 style="margin-top:10px;">
                  <span>Login</span>
              </ion-col>
              <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>

          <!-- <div>Login</div>
          <img src="assets/imgs/mlogo.png" width="50" height="50"/> -->
      
        <!-- <div style="width:50%;" id="titleText">Login</div> -->
        <!-- <span style="margin-bottom:3em;" id="titleText">Login</span> -->
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>
     <ion-item>
       <ion-input [(ngModel)]="loginData.email" placeholder="Email Address"></ion-input>
     </ion-item>

     <ion-item>
        <ion-input type="{{type}}" [(ngModel)]="loginData.password" placeholder="Password"></ion-input>
    
        <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
        <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
      </ion-item>

     <ion-item>
        <ion-label>Stay logged in ?</ion-label>
        <ion-toggle [(ngModel)]="loginData.stay"></ion-toggle>
     </ion-item>

     <ion-item>
        <button ion-button block id="loginBtn" (click)="login()">Login</button>
     </ion-item>

     <ion-item text-center>
        <button ion-button clear id="linkBtn" (click)="navToRegister()">Create New Account</button>
     </ion-item>

     <ion-item text-center>
        <button ion-button clear id="linkBtn" (click)="navToForgotpwd()">Forgot Password ?</button>
     </ion-item>

  </ion-list>

</ion-content>
