page-register {
    #titleText{
        color: #a38f73;
     }
     #regBtn{
        height: 3em;
    }
    #linkBtn{
        height: 2em;
    }
    ion-content{
        background-color:#f6f5f3
    }
}
