<!--
  Generated template for the SubscriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="assets/imgs/mlogo.png" width="50" height="50"/>
                </ion-col>
                <ion-col col-3 style="margin-top:10px;">
                    <span id="titleText">Subscription</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div *ngIf="subscribed">
        <!-- You subscribed on {{ subscribed_date }} -->
        <div>
            This Account is billed to {{ card_brand }} Card ending in {{ card_last4 }} and expires on
            {{card_exp_month}}/{{card_exp_year}}.
        </div>
        
        <button ion-button color="primary" outline (click)="changeCreditCard()">Change Card</button>
    
    </div>

    <ion-list no-lines *ngIf="!subscribed">
        <ion-item>
            <ion-input [(ngModel)]="subscribe.cardno" placeholder="Card Number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="subscribe.cardcvv" placeholder="Card CVV"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Card Expiry Month</ion-label>
            <ion-input [(ngModel)]="subscribe.cardmonth" type="number" placeholder="Month"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Card Expiry Year</ion-label>
            <ion-input [(ngModel)]="subscribe.cardyear" type="number"placeholder="20XX"></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button block (click)="subscribeUser()">Subscribe</button>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-row>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToExpirationdate()">
              <img src="assets/imgs/calendar.png" width="35" height="35"/>
            </button>
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToInsulin()">
                <img src="assets/imgs/tan.png" width="25" height="35"/>
            </button>
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToRecall()">
                <img src="assets/imgs/warning.png" width="35" height="35"/>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>
