<!--
  Generated template for the RecallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title class="title">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="assets/imgs/mlogo.png" style="background: transparent !important;" width="50" height="50"/>
                </ion-col>
                <ion-col col-4 style="margin-top:10px;">
                        <span id="titleText">Recall</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding id="recall-page">
    <div text-center id="title">
        <span id="size-3">TAP THE MEDICATION TO LEARN ABOUT CURRENT RECALL </span>
    </div>

    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
            <!-- Toggle Button -->
            <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon  item-left name="arrow-down" *ngIf="item.open"></ion-icon>
                {{ item.name }}
            </button>
        
            <ion-list *ngIf="item.children && item.open" no-lines>
            <!-- Second Level -->
            <ion-list-header  *ngFor="let child of item.children; let j = index" no-padding>
                <!-- Toggle Button -->
                <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
                <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
                <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
                {{ child.name }}
                </button>
        
                <!-- Direct Add Button as Fallback -->
                <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>

                <span><b>Medication:</b></span><h3>{{item.name}}</h3>
                <br/>

                <span><b>Description:</b></span>
                <p text-lowercase>{{ child.description }}</p>

                <span><b>Manufacturer:</b></span><h2 text-lowercase>{{ child.name }}</h2>
                <br/>

                <span><b>Recall date:</b></span><h3> {{ months[child.rmonth] }} {{ child.rday }}, {{ child.ryear }}</h3>
                <br/>

                <span><b>Reason for recall:</b></span>
                <p text-lowercase>{{ child.reason }}</p>
                
                </ion-item>
        
            </ion-list-header>
            </ion-list>
            
        </ion-list-header>
    </ion-list>


</ion-content>

<ion-footer>
    <ion-row>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToExpirationdate()">
              <img src="assets/imgs/calendar.png" width="35" height="35"/>
            </button>
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToInsulin()">
                <img src="assets/imgs/tan.png" width="25" height="35"/>
            </button>
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToRecall()">
                <img src="assets/imgs/warning.png" width="35" height="35"/>
                <span style="color: red;margin-bottom: 1em;">*</span>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>

