page-recall {
    #size-1{
        font-size:22px;   
    }
    #size-2{
        font-size:18px;
    }
    #size-3{
        font-size:12px;
        color:white;
    }

    .accordion-list{
        background-color: #8ebac6;
    }
    #title{
        margin-top:1em;
        margin-bottom:2em;
        color:#8ebac6;
    }
    #home-menu{
        margin-top:1em;
    }
    #titleText{
        color: #a38f73;
    }
    #recall-page,ion-content{
        background-color: #8ebac6;
    }

    .accordion-list {
        background: #8ebac6;
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: #323f52;
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
}
