page-home {
    ion-content{
        background-color:#f6f5f3
    }
    #titleText{
        color:#a38f73;
    }

    
    /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
    @media (min-width: 1281px) {
        
    }
  
    /* 
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
    */
    @media (min-width: 1025px) and (max-width: 1280px) {
        #home-icon-1,#home-icon-2,#home-icon-3{
            width:20%;
            height: 20%;
            float:left;
            margin-top:5em;
            margin-left:4em;
        }

        .home-text-1,.home-text-2,.home-text-3{
            float:left;
        }
    
        .home-text-1{
            margin-top:5.5em;
            margin-left: 20px;
        }
    
        .home-text-2{
            margin-top:5em;
        }

        .home-text-3{
            margin-top:5em;
            margin-left: 10px;
        }
    }
  
    /* 
        ##Device = Tablets, Ipads (portrait)
        ##Screen = B/w 768px to 1024px
    */
    @media (min-width: 768px) and (max-width: 1024px) {
        #home-icon-1,#home-icon-2,#home-icon-3{
            width:20%;
            height: 20%;
            float:left;
            margin-top:5em;
            margin-left:4em;
        }

        .home-text-1,.home-text-2,.home-text-3{
            float:left;
        }
    
        .home-text-1{
            margin-top:5.5em;
            margin-left: 20px;
        }
    
        .home-text-2{
            margin-top:5em;
        }

        .home-text-3{
            margin-top:5em;
            margin-left: 10px;
        }
    }
  
    /* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
    */
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        #home-icon-1,#home-icon-2,#home-icon-3{
            width:20%;
            height: 20%;
            float:left;
            margin-top:2em;
            margin-left:10em;
        }

        .home-text-1,.home-text-2,.home-text-3{
            float:left;
        }
    
        .home-text-1{
            margin-top:2.5em;
            margin-left: 20px;
        }
    
        .home-text-2{
            margin-top:2.8em;
        }

        .home-text-3{
            margin-top:2.8em;
            margin-left: 10px;
        }
    }
  
    /* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
    */
    @media (min-width: 481px) and (max-width: 767px) {
        #home-icon-1,#home-icon-2,#home-icon-3{
            width:10%;
            height: 10%;
            float:left;
            margin-left:2em;
        }

        ion-grid{
            height: 100%;
        }

        ion-row{
            height: 33.33%;
        }

        #home-row2,#home-row3{
            //margin-top:8.5em;
        }

        ion-card{
            height: 100%;
        }
    }
  
    /* 
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
    */
    @media (min-width: 320px) and (max-width: 480px) {
        ion-grid{
            height: 100%;
        }

        ion-card{
            height: 100%;
        }

        #home-icon-3{
            width:15%;
            height: 15%;
            float:left;
            margin-top:1.5em;
            margin-left:1em;
        }


        #home-icon-2{
            width:15%;
            height: 15%;
            float:left;
            margin-top:1.5em;
            margin-left:0.4em;
        }

        #home-icon-1{
            width:12%;
            height: 12%;
            float:left;
            margin-top:2em;
            
        }

        .home-text-1{
            float:left;
            margin-left: 5px;
            margin-top:1.5em;
        }

        .home-text-2{
            float:left;
            //margin-top:2.5em;
        }

        .home-text-3{
            float:left;
            //margin-top:2.5em;
        }
       
    }
    

    #size-1{
        font-size:22px;   
    }
    #size-2{
        font-size:18px;
    }
    #size-3{
        font-size:12px;
        color:red;
    }
    #title{
        margin-top:1em;
        margin-bottom:2em;
        color:#8ebac6;
    }
    #home-menu{
        margin-top:1em;
    }
    
    .tooltip-toggle {
        cursor: pointer;
        position: relative;
    }
    
    .tooltip-toggle::before {
        position: absolute;
        top: -80px;
        left: -260px;
        background-color: black;
        border-radius: 5px;
        color: #fff;
        content: attr(data-tooltip);
        padding: 1rem;
        text-transform: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 260px;
    }
    
    .tooltip-toggle::after {
        position: absolute;
        top: -12px;
        left: 9px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid green;
        content: " ";
        font-size: 0;
        line-height: 0;
        margin-left: -5px;
        width: 0;
    }
    
    .tooltip-toggle::before,
    .tooltip-toggle::after {
        color: #efefef;
        font-family: monospace;
        font-size: 16px;
        opacity: 0;
        pointer-events: none;
        text-align: left;
    }
    
    .tooltip-toggle:hover::before,
    .tooltip-toggle:hover::after {
        opacity: 1;
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }

    .tooltip-toggle-2 {
        cursor: pointer;
        position: relative;
    }
    
    .tooltip-toggle-2::before {
        position: absolute;
        top: 20px;
        left: -260px;
        background-color: black;
        border-radius: 5px;
        color: #fff;
        content: attr(data-tooltip);
        padding: 1rem;
        text-transform: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 260px;
    }
    
    .tooltip-toggle-2::after {
        position: absolute;
        top: -12px;
        left: 9px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid green;
        content: " ";
        font-size: 0;
        line-height: 0;
        margin-left: -5px;
        width: 0;
    }
    
    .tooltip-toggle-2::before,
    .tooltip-toggle-2::after {
        color: #efefef;
        font-family: monospace;
        font-size: 16px;
        opacity: 0;
        pointer-events: none;
        text-align: left;
    }
    
    .tooltip-toggle-2:hover::before,
    .tooltip-toggle-2:hover::after {
        opacity: 1;
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
      
}
