page-home {
    ion-content{
        background-color:#f6f5f3
    }
    #titleText{
        color:#a38f73;
    }
    
    ion-grid {
        padding: 0;
        height: 100%;
    }
    
    ion-row {
        flex: 1;
    }

    #size-1{
        font-size:22px;   
    }
    #size-2{
        font-size:18px;
    }
    #size-3{
        font-size:12px;
        color:red;
    }
    #title{
        margin-top:1em;
        margin-bottom:2em;
        color:#8ebac6;
    }
    #home-menu{
        margin-top:1em;
    }
    
    .tooltip-toggle {
        cursor: pointer;
        position: relative;
    }
    
    .tooltip-toggle::before {
        position: absolute;
        top: -80px;
        left: -260px;
        background-color: black;
        border-radius: 5px;
        color: #fff;
        content: attr(data-tooltip);
        padding: 1rem;
        text-transform: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 260px;
    }
    
    .tooltip-toggle::after {
        position: absolute;
        top: -12px;
        left: 9px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid green;
        content: " ";
        font-size: 0;
        line-height: 0;
        margin-left: -5px;
        width: 0;
    }
    
    .tooltip-toggle::before,
    .tooltip-toggle::after {
        color: #efefef;
        font-family: monospace;
        font-size: 16px;
        opacity: 0;
        pointer-events: none;
        text-align: left;
    }
    
    .tooltip-toggle:hover::before,
    .tooltip-toggle:hover::after {
        opacity: 1;
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }

    .tooltip-toggle-2 {
        cursor: pointer;
        position: relative;
    }
    
    .tooltip-toggle-2::before {
        position: absolute;
        top: 20px;
        left: -260px;
        background-color: black;
        border-radius: 5px;
        color: #fff;
        content: attr(data-tooltip);
        padding: 1rem;
        text-transform: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 260px;
    }
    
    .tooltip-toggle-2::after {
        position: absolute;
        top: -12px;
        left: 9px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid green;
        content: " ";
        font-size: 0;
        line-height: 0;
        margin-left: -5px;
        width: 0;
    }
    
    .tooltip-toggle-2::before,
    .tooltip-toggle-2::after {
        color: #efefef;
        font-family: monospace;
        font-size: 16px;
        opacity: 0;
        pointer-events: none;
        text-align: left;
    }
    
    .tooltip-toggle-2:hover::before,
    .tooltip-toggle-2:hover::after {
        opacity: 1;
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
      
}
