page-home {
    
    #titleText{
        color: #938f71;
    }
    
    ion-grid {
        padding: 0;
        height: 100%;
    }
    
    ion-row {
        flex: 1;
    }

    #size-1{
        font-size:22px;   
    }
    #size-2{
        font-size:18px;
    }
    #size-3{
        font-size:12px;
        color:red;
    }
    #title{
        margin-top:1em;
        margin-bottom:2em;
        color:#8ebac6;
    }
    #home-menu{
        margin-top:1em;
    }
    
}
