page-expirationdate {
    .autocomplete 
    {
        width: 100%;
    
        ion-item {
            ion-input {
                padding: 1px !important;
            }
        }
        
        ion-list {
            position: absolute;
            width: 95%;
            overflow-y: scroll;
            max-height: 150%;
            border: 5px;
            z-index: 999;
    
            ion-item {
                background: #f1f1f1;
            }
    
            ion-item:hover {
                cursor: pointer;
                background: #dddddd
            }
        }
    }

    @media (min-width: 315px) and (max-width: 325px) {

        #size-1{
            font-size:22px;   
        }
        #size-2{
            font-size:18px;
        }
        #size-3{
            font-size:12px;
        }

    }

    @media (min-width: 326px) and (max-width: 480px) {

        #size-1{
            font-size:30px;   
        }
        #size-2{
            font-size:24px;
        }
        #size-3{
            font-size:18px;
        }

    }

    /* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
    */
    @media (min-width: 481px) and (max-width: 767px) {

        #size-1{
            font-size:28px;   
        }
        #size-2{
            font-size:24px;
        }
        #size-3{
            font-size:30px;
        }

    }

    /* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
    */
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        #size-1{
            font-size:30px;   
        }
        #size-2{
            font-size:34px;
        }
        #size-3{
            font-size:38px;
        }
    }

    @media (min-width: 768px) and (max-width: 834px) {
        #size-1{
            font-size:28px;   
        }
        #size-2{
            font-size:24px;
        }
        #size-3{
            font-size:30px;
        }
    }

    /* 
        ##Device = Tablets, Ipads (portrait)
        ##Screen = B/w 834px to 1024px
    */
    @media (min-width: 834px) and (max-width: 1024px) {

        #size-1{
            font-size:28px;   
        }
        #size-2{
            font-size:24px;
        }
        #size-3{
            font-size:30px;
        }

    }

     /* 
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
    */
    @media (min-width: 1025px) and (max-width: 1281px) {
        #size-1{
            font-size:28px;   
        }
        #size-2{
            font-size:24px;
        }
        #size-3{
            font-size:30px;
        }
    }

    
    #title{
        margin-top:1em;
        margin-bottom:2em;
        color:#8ebac6;
    }
    #home-menu{
        margin-top:1em;
    }
    
    #titleText{
        color: #a38f73;
    }
    #submitBtn{
        height:3em;
        width: 12em;
    }
    #res-1{
        color:red;
        font-size: 20px;
    }
    #res-2{
        color: #323f52;
        font-size: 20px;
    }
    #res-3{
        color:#938f71;
    }
    #res-5{
        color:red;
        margin-top:2em;
        font-size: 30px;
    }
    #res-6{
        color:red;
        font-size: 12px;
    }

    .overflow{ contain:none; overflow: visible; }

    ion-content{
        background-color:#f6f5f3
    }

    .tooltip-toggle {
        cursor: pointer;
        position: relative;
    }
    
    .tooltip-toggle::before {
        position: absolute;
        top: -80px;
        left: -260px;
        background-color: black;
        border-radius: 5px;
        color: #fff;
        content: attr(data-tooltip);
        padding: 1rem;
        text-transform: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 260px;
    }
    
    .tooltip-toggle::after {
        position: absolute;
        top: -12px;
        left: 9px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid green;
        content: " ";
        font-size: 0;
        line-height: 0;
        margin-left: -5px;
        width: 0;
    }
    
    .tooltip-toggle::before,
    .tooltip-toggle::after {
        color: #efefef;
        font-family: monospace;
        font-size: 16px;
        opacity: 0;
        pointer-events: none;
        text-align: left;
    }
    
    .tooltip-toggle:hover::before,
    .tooltip-toggle:hover::after {
        opacity: 1;
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    
}
