<!--
  Generated template for the ExpirationdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">

    <ion-title>
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="assets/imgs/mlogo.png" width="50" height="50"/>
                </ion-col>
                <ion-col col-4 style="margin-top:10px;">
                    <span id="titleText">Expiration Date</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>

    <div text-center id="title">
        <span id="size-3">USE THE OPTIONS TO SELECT MEDICATION OF INTEREST</span>
    </div>

    <ion-list no-lines>

        <ion-item>
            <ion-label floating>Type of Medication</ion-label>
            <ion-select [(ngModel)]="expdate.medtype" (ionChange)="onChange($event)">
                <ion-option *ngFor="let type of types" [value]="type" >
                    {{type}}
                </ion-option>
            </ion-select>
        </ion-item>

        <div class="autocomplete">
            <ion-item>
              <ion-label floating>Brand or Generic Name?</ion-label>
              <ion-input  type="text" 
                          [(ngModel)]="input"
                          (ionChange)="search()"
                          (ionBlur)="removeFocus()"
                          debounce=500></ion-input>
            </ion-item>
            <ion-list>
              <ion-item *ngFor="let country of countries" (click)="add(country)">
                {{country}}
              </ion-item>
            </ion-list>
        </div>
        <br/><br/>

        <ion-item>
            <ion-label>Date Opened?</ion-label>
            <ion-datetime [(ngModel)]="expdate.meddate" displayFormat="MM/DD/YYYY"></ion-datetime>
            
        </ion-item>

        <ion-item text-center>
            <button id="submitBtn" [ngClass]="expBtnCssClass" ion-button primary medium (click)="calcExpirationDate()">Submit</button>
        </ion-item>
    </ion-list>    

    <div *ngIf="showRes" [ngClass]="expResCssClass">
        <div id="res-1">Expires on</div>
        <div id="res-2" text-center>{{ resDate }}</div>
        <div id="res-3">Notes:</div>
        <ion-card id="res-4"> {{resNote}}</ion-card>
        <div id="res-6">See Manufacturer's label for additional details</div>
    </div>

    <div *ngIf="notShowRes">
        <div id="res-3">Notes:</div>
        <ion-card id="res-4"> {{resNote}}</ion-card>
        <div id="res-6">See Manufacturer's label for additional details</div>
    </div>

</ion-content>

<ion-footer>
    <ion-row>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToExpirationdate()">
              <img src="assets/imgs/calendar.png" width="35" height="35"/>
              <span style="color: red;margin-bottom: 1em;">*</span>
            </button>
            
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToInsulin()">
                <img src="assets/imgs/tan.png" width="25" height="35"/>
            </button>
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full large color="primary" (click)="navToRecall()">
                <img src="assets/imgs/warning.png" width="35" height="35"/>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>

