page-privacypolicy {
    #size-1{
        font-size:22px;   
    }
    #size-2{
        font-size:18px;
    }
    #title{
        margin-top:1em;
        margin-bottom:2em;
        color:#8ebac6;
    }
    #home-menu{
        margin-top:1em;
    }
    #titleText{
        color: #a38f73;
    }
    ion-content{
        background-color:#f6f5f3
    }
    ion-content{
        background-color:#f6f5f3
    }
}
