page-share {
    #titleText{
        color: #938f71;
    }
    #size-1{
        font-size:22px;   
    }
    #size-2{
        font-size:18px;
    }
    #title{
        margin-top:1em;
        margin-bottom:2em;
        color:#8ebac6;
    }
    #home-menu{
        margin-top:1em;
    }
}
