page-insulinguide {
    #size-1{
        font-size:22px;   
    }
    #size-2{
        font-size:18px;
    }
    #size-3{
        font-size:12px;
    }
    #title{
        margin-top:1em;
        margin-bottom:2em;
        color: #fff;
    }
    #home-menu{
        margin-top:1em;
    }
    #submit{
        height:3em;
        width: 12em;
    }
    #titleText{
       color: #938f71;
    }
    #insulin-page,#insulin-page-list,ion-content{
        background-color: #8ebac6;
    }
    #res-1{
        color:red;
        font-size: 30px;
    }
    #res-2{
        color: #323f52;
        font-size: 2em;
    }
    #res-3{
        color:#938f71;
    }
    #res-5{
        color:red;
        margin-top:2em;
        font-size: 30px;
    }
}
